body{
    background-color: hsl(217, 54%, 11%);
}

p{
    font-family: 'outfit';
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

.container{
    height: 520px;
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 10px  hsl(217, 54%, 11%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.img_block{
    height: 60%;
    margin: 20px 20px 0px 20px;
    background-image: url(images/image-equilibrium.jpg);
    background-size: cover;
    border-radius: 10px;
}

.text_block{
    height: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text_block p{
    margin-top: 0;
}

.text{
    width: 100%;
    margin: 10px;
}

.eth{
    display: flex;
    align-items: center;
}

.eth p{
    margin: 0px 0px 0px 10px;
}

.eth_clock{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar_pic{
    width: 30px;
    height: 30px;
    border: 1px solid wheat;
    border-radius: 50%;
}

.avatar_p::after{
    content: ' Jules Wyvern';
    color: hsl(0, 0%, 100%);
}

.avatar_p{
    margin: 0px 0px 0px 10px;
}

.avatar{
    display: flex;
    border-top:1px solid hsl(215, 32%, 27%);
    padding-top: 10px;
    margin-top: 10px;
    align-items: center;
}

.blue_text{
    color: hsl(215, 51%, 70%);
}

.eth_color{
    color: hsl(178, 100%, 50%);
}

.text_block p:first-child{
    font-weight: 600;
}